<div class="donors-wrapper">
  {%- for donor_level in site.data.donor_levels -%}
  {%- assign donors = site.data.donor_list | where: 'level', donor_level.level -%}
  <section class="donor-list--level">
    <h3 class="donor-list--level-label">
      {{ donor_level.label }}
      <span class="donor-list--level-range">
        <span class="min">${{ donor_level.range_min }}</span>
        {%- if donor_level.range_max -%}
          <span class="max">${{ donor_level.range_max }}</span>
        {%- endif -%}
      </span>
    </h3>
    <ul>
      {%- for donor in donors -%}
      <li class="donor">
        <dl>
          <dt class="donor--name">{{ donor.label }}</dt>
          {%- if donor.location -%}
          <dd class="donor--location">{{ donor.location }}</dd>
          {%- else -%}
          <dd class="donor--none">Anonymous Location</dd>
          {%- endif -%}
        </dl>
      </li>
      {%- endfor -%}
    </ul>
  </section>
  {%- endfor -%}
</div>
