<footer class="footer container">
  <div class="footer-wrapper">
    <p>You have reached the bottom of the report. <a href="#top">Go back to the top</a></p>

    <p>Images by Michael Minasi, Sylvie Rosokoff, Lex Weaver, PRX staff, courtesy of individual contributors</p>

    <p>This report reflects data from the 2025 fiscal year (July 1, 2024-June 30, 2025.) Every effort has been made to ensure the accuracy of this report. If errors or omissions have occurred, please accept our apologies and contact Madeline Hansen at 612-330-9246.</p>

    <p>&copy; Copyright 2003-2025 <a href="https://www.prx.org/">PRX</a><br />PRX is a 501(c)(3) organization recognized by the IRS: #263347402.</p><p><a href="https://prx.org/terms-of-service">Terms of Use</a> and <a href="http://exchange.prx.org/privacy-policy">Privacy Policy</a></p>
  </div>
</footer>

<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css"></noscript>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
<script defer src="assets/js/map.js"></script>

<!-- Audio -->
<script defer type="text/javascript" src="assets/js/audio.js"></script>
<script defer type="text/javascript" src="assets/js/show-audio.js"></script>
