<!-- Stylesheets -->
<link rel="preload" href="assets/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="assets/css/style.css"></noscript>

<!-- Fonts -->
<link rel="preload" href="assets/fonts/montserrat-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="assets/fonts/montserrat-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>

<!-- Menu -->
<script defer type="text/javascript" src="assets/js/menu.js?cb={{ site.time }}"></script>

<!-- Web Components -->
<script type="module" src="assets/js/web-components/esm/web-components.js"></script>
<script nomodule src="assets/js/web-components/cjs/web-components.cjs.js"></script>

<script async src="https://giving.classy.org/embedded/api/sdk/js/72482"></script>

<!-- Privacy-friendly analytics by Plausible -->
<script async src="https://plausible.io/js/pa-iQ_r8w7REpkoR7Ujsyafk.js"></script>
<script>
  window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
  plausible.init()
</script>
